.About {
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  min-height: 400px;
  background-color: #4C5364;
  color: #ffffff;
  .About-editor {
    margin: 30px;
    min-height: 200px;
    background-color: white;
  }
}
