@import 'Media.scss';

.header {
  font-family: Indie Flower;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #E50914;
    @include respond-to(handhelds) {
      margin-left: -3vw;
    };
}

.header-item {
  text-transform: uppercase;
  padding: 1rem;
}

.menu-item {
  margin-left: auto;
  padding-right: 20px;
}
