// @import 'Media.scss'

.jumbo {
  background-color: black;
  img {
    display: block;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    // background-position: center;
    // background-size: cover;
  };
}
